lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

data/
node_modules/
deploy/
psd/
*.psd

npm-debug.log

*.sublime-project
*.sublime-workspace

.DS_Store

