<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NOTESY_CORE" connectionString="Data Source=.;Initial Catalog=notesy;Trusted_Connection=True; Application Name=NOTESY_CORE_DEV;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>